<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SANDY</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  </head>
  <body>
    <script>
      Swal.fire({
        title: "ไม่สำเร็จ",
        text: "{{show}}",
        icon: "error",
        confirmButtonText: "Try Again",
        onClose:()=>{
            window.location.assign('/main_');
        }
      });
    </script>
  </body>
</html>
